<div class="d-flex flex-column gap-3" style="width: 70%; max-height: 100%; padding: 20px; background-color: #ffffff;
     border-top-left-radius: 20px; border-bottom-left-radius: 20px;">
    <h2 class="text-left">Bienvenido <strong>{{ user.username }}</strong>!</h2>

    <div style="display: flex; flex-direction: column; gap: 10px;width: 100%">
        <div class="rounded-5" style="background-color: #f4f4f4; padding: 20px;">
            <h4 class="text-left">Escribir un prompt</h4>
            <p>Escribe unas cuantas palabras y genera música increíble.</p>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3 position-relative">
                    <input type="text" name="{{ form.prompt.html_name }}" id="{{ form.prompt.id_for_label }}"
                           class="form-control pe-5" value="{{ form.prompt.value|default:'' }}" required>

                    <button type="submit" class="btn position-absolute top-50 end-0 translate-middle-y"
                            style="border: none; background: none; padding: 8px;">
                        <i class="bi bi-arrow-right" style="font-size: 24px; color: #6c757d;"></i>
                    </button>




                </div>
            </form>

        </div>
        <div style="background-color: #e0e0e0; padding: 20px;">
            <h4 class="text-left">Canciones generadas</h4>
            <p>Contenido del contenedor 2</p>
        </div>
        <div style="background-color: #d3d3d3; padding: 20px;">
            <h4 class="text-left">En tendencia</h4>
            <p>Contenido del contenedor 3</p>
        </div>
    </div>
</div>
