<div class="d-flex flex-column gap-3" style="width: 70%; height: 100%; padding: 20px; background-color: #ffffff;
     border-top-left-radius: 20px; border-bottom-left-radius: 20px; overflow-y: auto;">
    <h2 class="text-left">Bienvenido <strong>{{ user.username }}</strong>!</h2>

    <div style="display: flex; flex-direction: column; gap: 10px;">
        <div class="rounded-5" style="background-color: #f4f4f4; padding: 20px;">
            <h4 class="text-left">Escribir un prompt</h4>
            <p>Escribe unas cuentas palabras y genera música increíble.</p>
            <input type="text" placeholder="Escribe tu prompt aquí..."
                   style="width: 100%; padding: 10px; margin-bottom: 20px; border-radius: 5px; border: 1px solid #ccc;">
        </div>
        <div style="background-color: #e0e0e0; padding: 20px;">
            <h4 class="text-left">Canciones generadas</h4>
            <p>Contenido del contenedor 2</p>
        </div>
        <div style="background-color: #d3d3d3; padding: 20px;">
            <h4 class="text-left">En tendencia</h4>
            <p>Contenido del contenedor 3</p>
        </div>
    </div>
</div>
