<div class="d-flex flex-column gap-3" style="width: 30%; height: 100%; padding: 20px; background-color: #ffffff;
     border-top-right-radius: 20px; border-bottom-right-radius: 20px;">    <h3 class="text-center">Nuevo Contenedor</h3>
    <p class="text-center">Aquí puede ir contenido adicional, como una lista, imagen o botones.</p>

    <div style="display: flex; flex-direction: column; gap: 10px;">
        <div style="background-color: #c4c4c4; padding: 20px;">
            <h5 class="text-center">Subcontenedor 1</h5>
            <p>Contenido del subcontenedor 1</p>
        </div>
        <div style="background-color: #b3b3b3; padding: 20px;">
            <h5 class="text-center">Subcontenedor 2</h5>
            <p>Contenido del subcontenedor 2</p>
        </div>
    </div>
</div>
